#heading {
  text-align: center;
  font-family: Georgia;
  font-style: italic;
}

body {
    max-width: 2000px;
    margin: auto;
    font-size: 20px;
}

div {
    text-align: center;
    margin: auto;
}

p{
  text-align: center;
}


form {
    display: block;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#navfloat {
  position: fixed;
  top: 10px;
  right: 20px;
}

footer {
    font-size: 15px;
    text-align: center;
}

thead {
    font-size: 20px;
    color: white;
}

table {
    text-align:center;
}
