{% extends "orders/base.html" %}

{% block title %}
    Pinocchio's | Login
{% endblock %}

{% block heading %}
    Login
{% endblock %}

{% block body %}
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<form action="{% url 'loggedin' %}" method="post">
    {% csrf_token %}
    <input name="username" type="text" placeholder="ID"><br>
    <input name="password" type="password" placeholder="Password"><br><br>
    <button type="submit" class="btn btn-success">Login</button><br>
    <a href="{% url 'index' %}" class="btn btn-default">Back to Homepage</a>
</form>
{% endblock %}
