{% extends "orders/base.html" %}

{% block title %}
    Pinocchio's | Order Successful
{% endblock %}

{% block heading %}
    <span style="color:green"><b>{{ user.username }}</b></span>'s order has been placed!
{% endblock %}

{% block body %}
    <p><a href="{% url 'myorder' %}">View my orders</a> to check its status, or <a href="{% url 'index' %}">go back to main page</a>.</p>

    <div id="navfloat">
        <a class="btn btn-success btn-sm" href="{% url 'index' %}" role="button">Home</a>
        <a class="btn btn-success btn-sm" href="{% url 'menu' %}" role="button">Menu</a>
        <a class="btn btn-success btn-sm" href="{% url 'logout' %}" role="button">Logout</a>
    </div>
{% endblock %}
