{% extends "orders/base.html" %}

{% block title %}
    Pinocchio's | Admin
{% endblock %}

{% block heading %}
    Welcome, {{ user.first_name }}!
{% endblock %}

{% block body %}
<ul>
    <li>Currently logged in as: <span style="color: green"><b>{{ user.username }}</b></span></li><br>
    <li><a class= "btn btn-success btn-lg btn-block" href="{% url 'manageorders' %}" role="button">Manage Orders</a></li><br>
</ul>

<div id="navfloat">
    <a class="btn btn-success" href="{% url 'index' %}" role="button">Home</a>
    <a class="btn btn-success" href="{% url 'logout' %}" role="button">Logout</a>
</div>
{% endblock %}
