{% extends "orders/base.html" %}

{% block title %}
    Pinocchio's | Main
{% endblock %}

{% block heading %}
    Welcome, {{ user.first_name }}!
{% endblock %}

{% block body %}
<ul>
    <li>Currently logged in as: <span style="color: green"><b>{{ user.username }}</b></span></li><br>
    <li><a class= "btn btn-outline-success" role="button" href="{% url 'cart' %}">My Cart</a> &nbsp; <a class= "btn btn-outline-success" role="button" href="{% url 'myorder' %}">My Orders</a></li><br>
    <li><a class= "btn btn-success btn-lg btn-block" href="{% url 'menu' %}" role="button">View menu to start ordering!</a></li><br>
</ul>

<div id="navfloat">
    <a class="btn btn-success btn-sm" href="{% url 'index' %}" role="button">Home</a>
    <a class="btn btn-success btn-sm" href="{% url 'menu' %}" role="button">Menu</a>
    <a class="btn btn-success btn-sm" href="{% url 'logout' %}" role="button">Logout</a>
</div>
{% endblock %}
